html {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/632/34/549/technology-monitor-alpha-coders-binary-wallpaper-preview.jpg);
    background-repeat: no-repeat;
  background-position: center;
  
    color: white;
   }
li h1 {
     text-decoration: underline;
   
   }
   
li h1:hover {
     cursor: pointer;
   }
   
a {
     display:block;
   }
   
